<div class="admin-page">
  <p-card header="Dashboard" subheader="Latest updates">
    <div class="grid">
      <div class="col-3">
        <p-card styleClass="d-orders">
          <div class="d-items">
            <div>
              <i class="pi pi-shopping-cart"></i><br />
              <span class="name">Orders</span>
            </div>
            <span class="number">{{ totalOrder }}</span>
          </div>
        </p-card>
      </div>
      <div class="col-3">
        <p-card styleClass="d-products">
          <div class="d-items">
            <div>
              <i class="pi pi-briefcase"></i><br />
              <span class="name">Products</span>
            </div>
            <span class="number">{{ totalProduct }}</span>
          </div>
        </p-card>
      </div>
      <div class="col-3">
        <p-card styleClass="d-users">
          <div class="d-items">
            <div>
              <i class="pi pi-users"></i><br />
              <span class="name">Users</span>
            </div>
            <span class="number">{{ totalUser }}</span>
          </div>
        </p-card>
      </div>
      <div class="col-3">
        <p-card styleClass="d-totalSales">
          <div class="d-items">
            <div>
              <i class="pi pi-dollar"></i><br />
              <span class="name">Total Sales</span>
            </div>
            <span class="number">₹{{ totalSales }}</span>
          </div>
        </p-card>
      </div>
    </div>
  </p-card>
</div>
